<!doctype html>
<html lang="en">
<head>
    <title>User list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container pt-3">
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="alert alert-info" role="alert">
                User list
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">FIO</th>
                        <th scope="col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a class="btn btn-success" active th:href="@{/user_add}" role="button">Add</a>
                                <a class="btn btn-secondary" href="/logout" role="button">logout</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usr: ${userServiceList}">
                        <td th:text="${usr.id}"/>
                        <td th:text="${usr.username}"/>
                        <td th:text="${usr.role}"/>
                        <td th:text="${usr.fioUser}"/>
                        <td>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a class="btn btn-secondary active" th:href="@{/user_edit(id=${usr.id})}" role="button">Edit</a>
                                <a class="btn btn-secondary" th:href="@{/user_del(id=${usr.id})}"
                                   role="button">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>